
@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Schoolbell';
  src: url('./assets/fonts/Schoolbell-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@import "tailwindcss";


@theme {
  --font-jost: 'Jost';
  --font-quicksand: 'Quicksand';
  --font-Schoolbell: 'Schoolbell';
  --font-family-sans: 'Jost';
}
@layer base {
  body {
    font-family: var(--font-body), system-ui, sans-serif;
    font-weight: 400;
    background-color: #f2f2f6;
    overflow-x: hidden;
    overflow-y: auto;

  p {
    font-family: var(--font-body), system-ui, sans-serif;
    font-weight: 500;
  }


  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), system-ui, sans-serif;
    font-weight: 700;
  }
  h5{
      font-family: var(--font-heading), system-ui, sans-serif;
    font-weight: 400;
  }
}
}

.custom-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 36rem) { /* md */
  .custom-padding {
    padding-left: 2.5rem; /* Tailwind px-10 */
    padding-right: 2.5rem;
  }
}

@media (min-width: 64rem) { /* lg */
  .custom-padding {
    padding-left: 5rem; /* Tailwind px-20 */
    padding-right: 5rem;
  }
}

@media (min-width: 80rem) { /* xl */
  .custom-padding {
    padding-left: 6rem; /* Tailwind px-24 */
    padding-right: 6rem;
  }
}

/* Mega Menu Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Mobile Menu Slide In Animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideInLeft 0.3s ease-out;
}

#right::-webkit-scrollbar{
  display: none;
;
}